<%= form_for @content, html: { multipart: true } do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

       <div class="field">
       <p style="">Carica il contenuto digitale che vuoi vendere ( formati supportati: PowePoint, Excel, Word, PDF, Immagini e MP3 )</p>
    <p style="margin-bottom: 20px;"><% f.label :allegato %>
    <%= f.file_field :allegato %></p>
  </div>

  <div class="field" style="margin-bottom: 30px;">
    <%= f.label :titolo %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_area :description, class: "materialize-textarea" %>
  </div>
  <div class="field">
    <%= f.label :prezzo_min_50_cent %><br>
    <%= f.text_field :price %>
  </div>
    <div class="field">
    <p>Carica la cover del contenuto che vuoi vendere</p>
    <p style="margin-bottom: 30px;"><% f.label :cover %>
    <%= f.file_field :cover %> </p>
  </div>
 
  <div class="actions">
   <%= f.submit "Pubblica Contenuto" , class: "btn blue darken-1 btn-devise green darken-1"%> 
  </div>
<% end %>
