<p id="notice"><%= notice %></p>

<div class="row">

<div class="col l8">
  <%= link_to "back" , contents_path, class: "btn red left col l2"%>
  <br>
  <br>

	<%= image_tag @content.cover.url(:medium), class: "l12"%>

</div>

<div class="col l4">
<p> <strong>Nome del venditore</strong>: <%= @content.user.name %></p>

<p >
  <strong>Nome del prodotto:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @content.description %>
</p>
<p>
  <strong>Data di pubblicazione:</strong>
  <%= @content.created_at %>
</p>
<p>
  <strong>Data dell'ultimo aggiornamento:</strong>
  <%= @content.updated_at %>
</p>
<p>
  <strong>Prezzo:</strong>
  <%= @content.price %>
  euro
</p>
  <div class="col l12">
  <p><%= link_to "Aggiungi al carrello" , root_path, class: "btn red right col l12 grey lighten-1 "%></p>
  <% if @content.user == current_user %>


<p><%= link_to 'Edit', edit_content_path(@content) , class: "btn red right col l12 right "%> </p>
  </div>
       


</div>
<div class="col l12">
 
</div class="col l8">


</div>

<% end %>
